.schema-remove-from-schema-button {
  // display: flex;
  display: inline-flex;
  justify-content: flex-end;
  .remove-from-schema-button {
    background-color: $white;
    color: $ocean-blue;
    padding: 10px;
    border: $medium-blue solid 1px;
    border-radius: 4px;
    vertical-align: middle;
    text-transform: uppercase;
    white-space: nowrap;
    &:hover {
      background-color: $silver;
    }
    a, a:active, a:hover, a:visited {
      color: $ocean-blue;
      font-size: 14px;
      letter-spacing: 0.9px;
      text-decoration: none;
    }
  }
}
