<div class="niem-child-accordion">

  <div class="niem-child-accordion-heading" ng-click="expandElement()" ng-cloak>
    <img src="images/ic_carot.svg" class="carot-img float-left" ng-class="{'caret-down': isOpen}">
    <div class="niem-child-accordion-heading-text">
      <a class="child-heading-title" ui-sref="main.details({ entityID: elementData.id })">{{elementData.name}}</a>
      <span class="child-heading-type">({{elementData.type.id ? elementData.type.id : 'abstract'}})</span>
    </div>
  </div>

  <div class="niem-accordion-list" ng-show="isOpen">
    <div ng-repeat="currElement in elementData.type.elements">
      <div class="niem-accordion-item" ng-if="!currElement.type.elements">
        <a class="item-name" ui-sref="main.details({ entityID: currElement.id })">{{currElement.name}}</a>
        <span class="item-type">({{currElement.type.name ? currElement.type.name : 'abstract'}})</span>
      </div>
      <div ng-if="currElement.type.elements">
        <niem-child-accordion element-data="elementData.type.elements[$index]"></niem-child-accordion>
      </div>
    </div>
  </div>

</div>
