<div class="niem-child-accordion">

  <div class="niem-child-accordion-heading" ng-cloak tabindex="0" type="button"
       ng-keypress="expandElement()" ng-click="expandElement()" role="heading" aria-controls="{{elementData.type.id}}"
       aria-expanded="{{isOpen}}">
    <img src="images/ic_carot.svg" alt="Accordion {{accordionState}}" class="carot-img float-left" ng-class="{'caret-down': isOpen}">
    <div class="niem-child-accordion-heading-text">
      <a class="child-heading-title" ui-sref="main.details({ entityID: elementData.id })">{{elementData.name}}</a>
      <span class="child-heading-type">({{elementData.type.id ? elementData.type.id : 'abstract'}})</span>
      <span class="child-heading-subgroup" ng-if="elementData.subGroups.length">This term has synonym entries</span>
    </div>
  </div>

  <div class="niem-child-accordion-list" ng-if="isOpen" id="{{elementData.type.id}}">

    <div ng-repeat="subGroupElement in elementData.subGroups">
      <div class="niem-child-accordion-list-item" ng-if="!subGroupElement.isParent">
        <div>
          <a class="item-name" ui-sref="main.details({ entityID: subGroupElement.id })">{{subGroupElement.name}}</a>
          <span class="subGroupElement-type">({{subGroupElement.type.name ? subGroupElement.type.name : 'abstract'}})</span>
        </div>
        <subset-add-remove-from-subset-button entity-id="subGroupElement.id"></subset-add-remove-from-subset-button>
      </div>
      <div ng-if="subGroupElement.type.elements">
        <niem-child-accordion element-data="elementData.subGroups[$index]"></niem-child-accordion>
      </div>
      <div ng-if="subGroupElement.subGroups.length">
        <niem-child-accordion element-data="subGroupElement"></niem-child-accordion>
      </div>
    </div>

    <div ng-repeat="currElement in elementData.type.elements">
      <div class="niem-child-accordion-list-item" ng-if="!currElement.isParent">
        <div>
          <a class="item-name" ui-sref="main.details({ entityID: currElement.id })">{{currElement.name}}</a>
          <span class="item-type">({{currElement.type.name ? currElement.type.name : 'abstract'}})</span>
        </div>
        <subset-add-remove-from-subset-button entity-id="currElement.id"></subset-add-remove-from-subset-button>
      </div>
      <div ng-if="currElement.type.elements">
        <niem-child-accordion element-data="elementData.type.elements[$index]"></niem-child-accordion>
      </div>
      <div ng-if="currElement.subGroups.length">
        <niem-child-accordion element-data="currElement"></niem-child-accordion>
      </div>
    </div>

  </div>

</div>
