<div class="solr-results" tabindex="-1" id="main" role="main" aria-label="Search Results">
  <section class="container">
    <div class="row">
      <div class="search-heading col-sm-12">
        <h1 class="keyword-search-text">
          You searched for "{{query}}"
        </h1>
        <p class="results-total">Total Number of Results ({{numFound}})</p>
      </div>

      <form class="search-filter col-sm-4" aria-label="Filter Results" title="Filter Results">
        <div class="filter-heading">
          <h2 id="filter-label">Filter by</h2>
          <button aria-label="Clear All Filters" title="Clear All Filters" class="clear-button pull-right text-uppercase" ng-click="clearAllFilters()">Clear All</button>
        </div>
        <div class="filter-details" aria-labelledby="filter-label">
          <div class="solr-facet-group-tooltip">
            <solr-facet display="Domain" field="domain"></solr-facet>
          </div>
          <div class="solr-facet-group-tooltip">
            <solr-facet display="External Standards" field="externalStandard"></solr-facet>
          </div>
          <div class="solr-facet-group-tooltip">
            <solr-facet display="Others" field="otherNamespace"></solr-facet>
          </div>
        </div>
      </form>

      <div class="search-results col-sm-8">
        <solr-sort></solr-sort>
        <div class="results-list">
          <div class="result no-result" ng-if="numFound === 0">The term "{{query}}" has returned no results. Please try
            a different term or variation.
          </div>
          <div class="result">
            <div class="result-item" ng-repeat="doc in docs">
              <h2 class="result-heading" ng-if="isFirstOfNamespace(docs[$index - 1].namespace, doc)">
                <span uib-popover-template="popovers['core'].popoverTemplateUrl"
                      popover-placement="right"
                      popover-is-open="popovers['core'].popoverIsOpen"
                      popover-enable="doc.namespace == 'Core'" popover-trigger="'focus'" aria-describedby="core-popover">
                  {{doc.namespace}} ({{doc.namespaceCount}})
                </span>
              </h2>
              <h2 class="result-heading" ng-if="isFirstOfAlphabet(docs[$index - 1].name, doc.name, $index)">
                <span>
                {{doc.name.substring(0,1).toUpperCase()}}
                </span>
              </h2>
              <div class="result-content-wrapper">
                <div class="result-content">
                  <a ui-sref="main.details({ entityID: doc.id })">
                    <h3 class="item-title">{{doc.name}}</h3>
                  </a>
                  <p class="item-description">{{doc.definition}}</p>
                  <p class="item-namespace">{{namespaceTypes[doc.namespaceType]}}: {{doc.namespace}}</p>
                </div>
                <schema-add-remove-from-schema-button entity-id="doc.id"></schema-add-remove-from-schema-button>
              </div>
            </div>
            <solr-results-pagination ng-hide="numFound === 0" class="pagination-bottom"></solr-results-pagination>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
