.details {
  .content {
    padding: 30px;

    .details-heading {
      background-image: linear-gradient(to left, #29819c, #004666);
      color: $white;
      padding: 5px;
      margin-top: 10px;
    }
  }

}
