.details {
  .content {
    padding: 12px 30px 30px 30px;
    min-width: $niem-min-width;
    max-width: $niem-max-width;
    margin: 0 auto;

    .back-link {
      font-size: 12px;
      letter-spacing: 0.5px;
      color: $ocean-blue;
    }

    .details-heading {
      background-image: linear-gradient(to left, #29819c, #004666);
      color: $white;
      padding: 15px 21px 14px 21px;
      margin-top: 13px;
      h1 {
        margin: 0 0 2px 0;
        letter-spacing: 0.5px;
      }
      .details-heading-img {
        width: 17.9px;
      }
      .namespace {
        color: $seafoam;
        letter-spacing: 0.5px;
      }
    }

    .details-info {
      padding-top: 20px;
      padding-bottom: 41px;
      display: inline-flex;
      margin: auto;

      .details-info-col {
        width: 50%;
        display: inline-block;
        &:nth-child(odd) {
          .details-info-content {
            margin: 0 5px 19px 0;
          }
        }
        &:nth-child(even) {
          .details-info-content {
            margin: 0 0 19px 10px;
          }
        }
      }

      .details-info-content {
        width: 600px;
        height: 106px;
        border: 1px solid;
        border-color: lighten($ocean-blue, 50%);
        padding-left: 20px;
        padding-right: 20px;
        align-items: center;
        display: flex;
        .definition-img,
        .simple-type-img {
          display: inline-block;
          height: 44px;
          width: 44px;
        }
        .details-text {
          display: inline-block;
          vertical-align: middle;
          border-left: 1px solid;
          border-color: lighten($ocean-blue, 50%);
          padding-left: 15px;
          margin-left: 15px;
          max-width: 478px;
          h3 {
            letter-spacing: 0.5px;
            color: $marine-blue;
            margin: 0;
            padding-bottom: 8px;
          }
          p {
            margin: 0;
            letter-spacing: 0.5px;
            color: rgba(0,0,0,0.58);
          }
        }
      }
    }

    .details-desc {
      .contain-list {
        niem-accordion:first-child {
          .niem-accordion-heading {
            padding-top: 0;
          }
        }
        .panel-group {
          .panel-default {
            padding: 10px;
            border: 0;
            border-radius: 0;
            box-shadow: none;
            .panel-heading {
              background-color: $white;
              h2 {
                letter-spacing: 0.5px;
                color: $marine-blue;
                margin: 0;
              }
            }
            .accordion-toggle {
              &:hover, &:focus {
                text-decoration: none;
              }
            }
          }

          .contain-group {
            .contain-group-item {
              border-bottom: 1px solid black;
              padding: 20px;
            }
          }
        }
      }
    }
  }

}
