<div class="details" ng-cloak>
  <search-header></search-header>

  <section class="content">
    <a ng-click="DetailsCtrl.goBack()" class="back-link" ng-show="query">&#060; Back to search results for
      "{{query}}"</a>

    <div class="details-heading">
      <h1>{{DetailsCtrl.entity.name}}
        <img class="details-heading-img" src="images/icon_e_white.svg"
             ng-if="DetailsCtrl.entity.entityType === 'Element'"/>
        <img class="details-heading-img" src="images/icon_t_white.svg"
             ng-if="!(DetailsCtrl.entity.entityType === 'Element')"/>
      </h1>
      <div class="namespace text-uppercase">{{DetailsCtrl.transformNamespaceText(DetailsCtrl.entity.namespaceType)}}:{{DetailsCtrl.entity.namespace}}</div>
    </div>

    <div class="details-info row">
      <div class="details-info-col" ng-if="!!DetailsCtrl.entity.definition">
        <div class="details-info-content">
          <div class="symbol-div definition-img">
            <img src="images/ic_definition.svg" alt="Definition symbol">
          </div>
          <div class="details-text">
            <h3>Definition</h3>
            <p>{{DetailsCtrl.entity.definition}}</p>
          </div>
        </div>
      </div>

      <div class="details-info-col">
        <div class="details-info-content" ng-if="DetailsCtrl.entity.type || DetailsCtrl.entity.parentSimpleType || DetailsCtrl.entity.parentTypeName">
          <div ng-if="!(DetailsCtrl.entity.entityType === 'Type' && !Details.entity.facets)" class="auto-height">
            <div class="symbol-div simple-type-img">
              <img ng-if="DetailsCtrl.entity.entityType === 'Element'" src="images/ic-typeofproperty.svg" alt="Type of Property symbol">
            </div>
            <div class="details-text">
              <h3 ng-if="DetailsCtrl.entity.entityType === 'Element'">
                Type of Property
              </h3>
              <p>{{DetailsCtrl.entity.type || DetailsCtrl.entity.parentSimpleType || DetailsCtrl.entity.parentTypeName}}
              </p>
            </div>
          </div>
          <div ng-if="DetailsCtrl.entity.entityType ==='Type' && !!Details.entity.facets">
            <div class="symbol-div simple-type-img">
              <img src="images/ic_simpletype.svg" alt="Simple Content Type symbol">
            </div>
            <div class="details-text">
              <h3>
                <span class="dotted-underline" uib-popover-template="DetailsCtrl.popovers['simple-content-type'].popoverTemplateUrl"
                      popover-placement="right"
                      popover-is-open="DetailsCtrl.popovers['simple-content-type'].popoverIsOpen">
                      Simple Content Type
                </span>
              </h3>
              <p>{{DetailsCtrl.entity.type || DetailsCtrl.entity.parentSimpleType || DetailsCtrl.entity.parentTypeName}}
              </p>
            </div>
          </div>
          <div ng-if="DetailsCtrl.entity.entityType ==='Type' && !Details.entity.facets" class="auto-height">
            <div class="symbol-div base-type-img">
              <img src="images/ic_basetype.svg" alt="Base Type symbol">
            </div>
            <div class="details-text">
              <h3>
                <span class="dotted-underline" uib-popover-template="DetailsCtrl.popovers['base-type'].popoverTemplateUrl"
                                        popover-placement="right"
                                        popover-is-open="DetailsCtrl.popovers['base-type'].popoverIsOpen">
                     Base Type
                </span>
              </h3>
              <p>{{DetailsCtrl.entity.type || DetailsCtrl.entity.parentSimpleType || DetailsCtrl.entity.parentTypeName}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="details-info row" ng-if="!!DetailsCtrl.entity.contentStyle">
      <div class="details-info-col">
        <div class="details-info-content">
          <div class="symbol-div content-style-img">
            <img src="images/ic_examplecontent.svg" alt="Content Style symbol">
          </div>
          <div class="details-text">
            <h3>Content Style</h3>
            <p>{{DetailsCtrl.entity.contentStyle}}</p>
          </div>
        </div>
      </div>
    </div>


    <div class="details-desc">
      <div ng-if="!!DetailsCtrl.entity.facets">
        <facet-details data="DetailsCtrl.entity.facets"></facet-details>
      </div>

      <div class="contain-list" ng-if="!DetailsCtrl.entity.facets">
        <div ng-if="DetailsCtrl.containingTypes.length === 0 && DetailsCtrl.entity.entityType === 'Element'" class="has-none">
          <h3>{{DetailsCtrl.entity.name}} is not contained within any other entities.</h3>
        </div>
        <div ng-repeat="containingType in DetailsCtrl.containingTypes" ng-if="DetailsCtrl.entity.entityType === 'Element'">
          <niem-accordion data="containingType" entity-type="DetailsCtrl.entity.entityType" title="'Contained In: '" click-handler="DetailsCtrl.getElementObjects" selected-entity-name='DetailsCtrl.entity.name'></niem-accordion>
        </div>

        <div ng-if="DetailsCtrl.entity.entityType === 'Type'">
          <div ng-if="!DetailsCtrl.entity.elements" class="has-none">
            <h3>{{DetailsCtrl.entity.name}} does not contain any entities.</h3>
          </div>
          <div ng-if="!DetailsCtrl.propertiesOfType  || DetailsCtrl.propertiesOfType.length === 0" class="has-none">
            <h3>{{DetailsCtrl.entity.name}} does not contain any properties.</h3>
          </div>
          <niem-accordion data="DetailsCtrl.entity" entity-type="DetailsCtrl.entity.entityType" title="'Contains'" click-handler="DetailsCtrl.getElementObjects" ng-if="!!DetailsCtrl.entity.elements && DetailsCtrl.entity.elements.length > 0"></niem-accordion>
          <niem-accordion data="DetailsCtrl.propertiesOfType" entity-type="DetailsCtrl.entity.entityType" title="'Properties that are of ' + DetailsCtrl.entity.name" click-handler="DetailsCtrl.getElementObjects" is-properties="true"></niem-accordion>
        </div>
      </div>
    </div>
  </section>

  <ccp-footer></ccp-footer>
</div>
