<div class="details">
  <search-header></search-header>

  <section class="content">
    <a href="#/results">&#060; Back to search results for "Card" </a>

    <div class="details-heading">
      <h1>{{DetailsCtrl.entity.name}} <img class="details-heading-img" src="images/icon_e.svg"/></h1>
      <div class="text-uppercase">Namespace:Other</div>
    </div>

    <div class="details-info row">
      <div class="details-info-col">
        <div class="details-info-content">
          <h3>Definition</h3>
          <p>Lorem ipsum Lorem ipsum Lorem ipsum</p>
        </div>

        <div class="details-info-content">
          <h3>Definition</h3>
          <p>Lorem ipsum Lorem ipsum Lorem ipsum</p>
        </div>

        <div class="details-info-content">
          <h3>Definition</h3>
          <p>Lorem ipsum Lorem ipsum Lorem ipsum</p>
        </div>
      </div>

      <div class="details-info-col">
        <div class="details-info-content">
          <h3>Definition</h3>
          <p>Lorem ipsum Lorem ipsum Lorem ipsum</p>
        </div>

        <div class="details-info-content">
          <h3>Definition</h3>
          <p>Lorem ipsum Lorem ipsum Lorem ipsum</p>
        </div>

        <div class="details-info-content">
          <h3>Definition</h3>
          <p>Lorem ipsum Lorem ipsum Lorem ipsum</p>
        </div>
      </div>
    </div>


    <div class="details-desc">
      <div class="facet-details">
        <h5 class="facet-heading text-uppercase">
          Facet, Value, and Description
        </h5>
        <div class="facet-list">
          <div class="facet-item row">
            <div class="col-sm-3">Enumeration</div>
            <div class="col-sm-2">"AAA"</div>
            <div class="col-sm-7">Sampson Marine</div>
          </div>
          <div class="facet-item row">
            <div class="col-sm-3">Enumeration</div>
            <div class="col-sm-2">"AAA"</div>
            <div class="col-sm-7">Sampson Marine</div>
          </div>
          <div class="facet-item row">
            <div class="col-sm-3">Enumeration</div>
            <div class="col-sm-2">"AAA"</div>
            <div class="col-sm-7">Sampson Marine</div>
          </div>
          <div class="facet-item row">
            <div class="col-sm-3">Enumeration</div>
            <div class="col-sm-2">"AAA"</div>
            <div class="col-sm-7">Sampson Marine</div>
          </div>
          <div class="facet-item row">
            <div class="col-sm-3">Enumeration</div>
            <div class="col-sm-2">"AAA"</div>
            <div class="col-sm-7">Sampson Marine</div>
          </div>
          <div class="facet-item row">
            <div class="col-sm-3">Enumeration</div>
            <div class="col-sm-2">"AAA"</div>
            <div class="col-sm-7">Sampson Marine</div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <ccp-footer></ccp-footer>
</div>
