<div class="details" ng-cloak>
  <search-header></search-header>

  <section class="content">
    <a ng-click="DetailsCtrl.goBack()" class="back-link" ng-show="query">&#060; Back to search results for "{{query}}"</a>

    <div class="details-heading">
      <h1>{{DetailsCtrl.entity.name}}
        <img class="details-heading-img" src="images/icon_e.svg" ng-if="DetailsCtrl.entity.entityType === 'Element'"/>
        <img class="details-heading-img" src="images/icon_t.svg" ng-if="!(DetailsCtrl.entity.entityType === 'Element')"/>
      </h1>
      <div class="namespace text-uppercase">Namespace: {{DetailsCtrl.entity.namespace}} </div>
    </div>

    <div class="details-info row">
      <div class="details-info-col" ng-if="!!DetailsCtrl.entity.definition">
        <div class="details-info-content">
          <h3>Definition</h3>
          <p>{{DetailsCtrl.entity.definition}}</p>
        </div>
      </div>

      <div class="details-info-col">
        <div class="details-info-content" ng-if="DetailsCtrl.entity.type || DetailsCtrl.entity.parentSimpleType || DetailsCtrl.entity.parentTypeName">
          <h3 ng-if="!(DetailsCtrl.entity.entityType ==='Type' && !Details.entity.facets)">Simple Content Type</h3>
          <h3 ng-if="DetailsCtrl.entity.entityType ==='Type' && !Details.entity.facets">Base Type</h3>
          <p>{{DetailsCtrl.entity.type || DetailsCtrl.entity.parentSimpleType || DetailsCtrl.entity.parentTypeName}}</p>
        </div>
      </div>
    </div>
    <div class="details-info row" ng-if="!!DetailsCtrl.entity.contentStyle">
      <div class="details-info-col">
        <div class="details-info-content">
          <h3>Content Style</h3>
          <p>{{DetailsCtrl.entity.contentStyle}}</p>
        </div>
      </div>
    </div>


    <div class="details-desc">
      <div ng-if="!!DetailsCtrl.entity.facets">
        <facet-details data="DetailsCtrl.entity.facets"></facet-details>
      </div>

      <div class="contain-list" ng-if="!DetailsCtrl.entity.facets">
        <div ng-repeat="containingType in DetailsCtrl.containingTypes" ng-if="DetailsCtrl.entity.entityType === 'Element'">
          <niem-accordion data="containingType" entity-type="DetailsCtrl.entity.entityType" title="'Contained In: '" click-handler="DetailsCtrl.getElementObjects"></niem-accordion>
        </div>

        <div ng-if="DetailsCtrl.entity.entityType !== 'Element'">
          <niem-accordion data="DetailsCtrl.entity" entity-type="DetailsCtrl.entity.entityType" title="'Contains'" click-handler="DetailsCtrl.getElementObjects"></niem-accordion>

          <!--<niem-accordion data="DetailsCtrl.propertiesOfType" entity-type="DetailsCtrl.entity.entityType" title="'Properties that are of ' + DetailsCtrl.entity.name" click-handler="DetailsCtrl.getElementsofType"></niem-accordion>-->
        </div>
      </div>
    </div>
  </section>

  <ccp-footer></ccp-footer>
</div>
