.landing {
  .content {
    width: 100%;
    height: 100%;
    position: absolute;
    .welcome {
      background: url(../../images/wist_homeimage.jpg);
      background-size: cover;
      height: 75%;
      width: 100%;
      .welcome-items {
        padding: 30px;
        .welcome-top {
          .logo {
            height: 40px;
          }
          .niem-link {
            text-decoration: none;
            color: $white;
            padding-right: 60px;
            padding-top: 20px;
          }
        }
        .welcome-main {
          width: 40%;
          margin: auto;
          padding-top: 75px;
          .description {
            margin: 0 auto;
            width: 100%;
            font: $mont-regular 34px 'Montserrat', Arial, sans-serif;
            margin: 0 auto;
          }

          .search {
            width: 70%;
          }
        }

      }

    }
  /*.export {
      background: #35969b;
      height: 30%;
      color: $white;
      width: 100%;
      .export-top {
        width: 50%;
        margin: 0 auto;
        .export-img {
          width: 50px;
          opacity: 0.3;
          display: inline-block;
          margin: 0 15px 40px;
        }
        .export-top-text {
           display: inline-block;
          .export-heading, .export-description {
            margin: 0;
            font-weight: $mont-regular;
          }
        }
      }
      .download {
        width: 50%;
        margin: 0 auto;
        padding: 0 85px;
        .download-link {
          color: $white;
          text-decoration: none;
          font-weight: $mont-semi-bold;
        }
      }
    }*/
  }
}
