.landing {
  .content {
    min-width: $niem-min-width;
    width: 100%;
    background-image: url(../../images/mainbg.svg);
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
    src='images/logo.gif',
    sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(
    src='images/logo.gif',
    sizingMethod='scale')";

    .welcome {
      width: 768px;
      margin: 0 auto;
      min-height: calc(100vh - 118px - 332px);
      .welcome-items {
        .welcome-main {
          margin: 0 auto;
          padding: 40px 30px;
          .row {
            margin: 0;
          }
          .welcome-text-heading {
            font-size: 36px;
            letter-spacing: 1.4px;
            color: $marine-blue;
            margin: 0;
            max-width: 775px;
          }
          .welcome-text-description {
            color: $evergreen;
            font-size: 24px;
            letter-spacing: 1.3px;
            margin-bottom: 27px;
            margin-top: 20px;
            max-width: 675px;
          }
        }
      }
    }
  }
}
