<div class="landing">
  <div class="content">
    <ccp-header></ccp-header>
    <div class="welcome">
      <div class="welcome-items">
        <div class="welcome-main row">
          <div class="row">
            <h1 class="welcome-text-heading">Discover the possibilities. Build your exchange.</h1>
            <p class="welcome-text-description">Explore NIEM's common vocabulary and choose the items you need to begin creating your exchange in JSON schema.</p>
          </div>
          <div class="search row">
            <solr-search-input></solr-search-input>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ccp-footer></ccp-footer>
</div>
