<div class="landing">
  <div class="content">
    <ccp-header></ccp-header>
    <div class="welcome">
      <div class="welcome-items">
        <div class="welcome-main row">
          <div class="welcome-text row">
            <h1>Welcome to a Community
              <br>Collaboration Project
            </h1>
            <p>Where you can find data terms and definitions you need for your
              <br>information exchange
            </p>
          </div>
          <div class="search row">
            <niem-search></niem-search>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ccp-footer></ccp-footer>
</div>
