.sort-bar {
  background-color: rgba(0, 115, 178, 0.1);
  text-transform: uppercase;
  color: $marine-blue;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: bold;
  padding: 12px 19px 10px 19px;
  margin-top: 18px;
  label {
    margin-bottom: 0;
  }
  select {
    width: 208px;
    margin-left: 20px;
    border: none;
    padding: 6px 0 6px 10px;
    letter-spacing: 0.5px;
    font-weight: normal;
    border-radius: 3px;
    background: #fff url('../images/updownarrow.svg') no-repeat;
    background-size: 30px;
    background-position: right 0 center;
    appearance: none;
  }
}
