<div class="sort-bar">
  <form>
    <div class="sort-group">
      <label for="sort-select">Sort by</label>
      <div id="sort-select" class="dropdown-group" uib-dropdown keyboard-nav is-open="status.isopen">
        <button id="domain-dropdown" type="button" class="domain-button" uib-dropdown-toggle tabindex="0">
          <span class="dropdown-text">{{selected}}</span>
          <img class="dropdown-caret" src="images/ic_carot.svg" aria-hidden="true" alt="Select a domain">
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="domain-dropdown">
          <li role="menuitem" ng-repeat="(key, value) in sortCriteria">
            <a href="" ng-click="sortBy(key, value)">{{value}}</a>
          </li>
        </ul>
      </div>
    </div>
  </form>
  <solr-results-pagination ng-hide="numFound === 0"></solr-results-pagination>
</div>
