em {
  font-style: normal;
}

label.filter-group-option {
  font-size: 14px;
  letter-spacing: 0.5px;
  color: rgba(0, 0, 0, 0.58);
  width: 90%;
  padding-left: 0;
  padding-right: 10px;
  .custom-checkbox {
    width: 22px;
    height: 22px;
    border: 1px solid $warm-grey;
    display: inline-block;
    float: left;
    margin-right: 10px;
    .checked-image {
      height: 22px;
      width: 22px;
    }
  }
  input[type="checkbox"] {
    display: none;
  }
}
