.solr-facet-result {
  .facet-group {
    @include flex-and-align-center;
    margin: 10px 0;
    .facet-checkbox {
      align-items: center;
      justify-content: center;
      padding: 3px;
      min-width: 26px;
      max-width: 26px;
      max-height: 25px;
      min-height: 25px;
      border: 1px solid $body-text-color;
      margin-right: 5px;
    }
    .active {
      background-color: $ocean-blue;
      color: $white;
    }
    .facet-text {
      font-size: 14px;
      letter-spacing: 0.5px;
      color: $body-text-color;
      margin-left: 5px;
    }
  }
}
