.niem-accordion {
  .carot-img {
    display: inline-block;

    &.caret-down {
      transform: rotate(90deg);
    }
  }

  .niem-accordion-heading {
    padding: 20px;
    border-bottom: 1px solid $silver;
    h2 {
      letter-spacing: 0.5px;
      padding-left: 20px;
      color: $marine-blue;
      display: inline-block;
      margin: 0;
      .contain-type {
        color: $ocean-blue;
        display: inline-block;
      }
    }


  }

  .niem-accordion-list {
    padding-left: 40px;

    .niem-accordion-item {
      padding: 20px;
      letter-spacing: 0.5px;
      border-bottom: 1px solid $silver;
        .item-name {
          color: $ocean-blue;
          h3 {
            margin: 0;
          }
      }

      .item-type {
        color: $body-text-color;
      }
    }
  }

}
