<div class="niem-accordion">
  <div class="niem-accordion-heading" ng-click="toggleAccordion()">
    <img src="images/ic_carot.svg" class="carot-img float-left" ng-class="{'caret-down': isOpen}">
    <h2>
      <span class="contain-title">{{title}} ({{data.name}})</span>
    </h2>
  </div>

  <div class="niem-accordion-list" ng-if="isOpen">

    <div ng-repeat="item in data.elements">

      <div class="niem-accordion-item" ng-if="!item.type.elements">
        <span class="item-name">
          <a ui-sref="main.details({ entityID: item.id })">{{item.name}}</a>
        </span>
        <span class="item-type" ng-if="!!item.type.name">({{item.type.name}})</span>
        <span class="item-type" ng-if="item.type === 'abstract'">({{item.type}})</span>
      </div>

      <div ng-if="!!item.type.elements">
        <niem-child-accordion tree-level="1" element-data="item" click-handler="clickHandler"></niem-child-accordion>
      </div>

    </div>

  </div>
</div>
