@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800');

//Variables to be used throughout all stylesheets
$darkest-blue:    #005170;
$dark-ocean:      #026399;
$medium-blue:     #007fb9;
$teal:            #35969b;
$light-teal:      #68d0b2;
$teal-gradient:   #29819c;
$black:           #000000;
$white:           #ffffff;
$ugly-blue:       #288b91;
$marine-blue:     #004666;
$ocean-blue:      #0073b2;
$seafoam:         #58cba9;
$seafoam-light:   rgba(88,203,169, 0.1);
$evergreen:       #062434;
$warm-grey:       #9b9b9b;
$shady-grey:      #676767;
$silver:          #d1d2d4;
$body-text-color: rgba(0,0,0,0.58);
$mont-extra-bold: 800;
$mont-bold:       700;
$mont-regular:    400;
$mont-semi-bold:  600;
$niem-min-width:  768px;
$niem-max-width:  1280px;
$desktop-md-max-width: 992px;

//Mixins
@mixin flex-and-align-center {
  display: flex;
  align-items: center;
}
@mixin desktop {
  @media only screen and (max-width: $desktop-md-max-width) {
    @content;
  }
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
html, body {
  height: 100%;
}
body {
  font: $mont-regular 14px 'Montserrat', Arial, sans-serif;
  color: $body-text-color !important;
  .ng-scope {
    height: 100%;
  }
}

h1 {
  font: $mont-regular 27px 'Montserrat', Arial, sans-serif;
}

h2 {
  font: $mont-regular 21px 'Montserrat', Arial, sans-serif;
  letter-spacing: 3px;
}

h3 {
  font: $mont-regular 18px 'Montserrat', Arial, sans-serif;
  letter-spacing: 2.6px;
}

h4 {
  font: $mont-regular 16px 'Montserrat', Arial, sans-serif;
}

h5 {
  font: $mont-regular 14px 'Montserrat', Arial, sans-serif;
  letter-spacing: 0.9px;
}


h6 {
  font: $mont-regular 12px 'Montserrat', Arial, sans-serif;
  letter-spacing: 2px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header, .marketing, .footer {
  padding-left: 20px;
  padding-right: 20px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;


  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  //border-top: 1px solid #e5e5e5;
  width: 100%;
  background-color: $white;
  padding: 0;
  .footer-bottom {
    padding: 10px 20px;
  }
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  background-color: $white;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}


// injector
@import '../app/components/ccpFooter/ccpFooter.directive.scss';
@import '../app/components/ccpHeader/ccpHeader.directive.scss';
@import '../app/components/detailsPagination/detailsPagination.directive.scss';
@import '../app/components/facetDetails/facetDetails.directive.scss';
@import '../app/components/niemChildAccordion/niemChildAccordion.directive.scss';
@import '../app/components/niemExport/niemExport.directive.scss';
@import '../app/components/schemaAddToSchema/schemaAddToSchema.directive.scss';
@import '../app/components/schemaDownload/schemaDownload.directive.scss';
@import '../app/components/schemaMySchemaButton/schemaMySchemaButton.directive.scss';
@import '../app/components/schemaRemoveFromSchemaButton/schemaRemoveFromSchemaButton.directive.scss';
@import '../app/components/searchHeader/searchHeader.scss';
@import '../app/components/solrDetails/solrDetails.directive.scss';
@import '../app/components/solrFacet/solrFacet.directive.scss';
@import '../app/components/solrFacetResult/solrFacetResult.directive.scss';
@import '../app/components/solrMySchemaDetails/solrMySchemaDetails.directive.scss';
@import '../app/components/solrResults/solrResults.directive.scss';
@import '../app/components/solrResultsPagination/solrResultsPagination.directive.scss';
@import '../app/components/solrSearchInput/solrSearchInput.directive.scss';
@import '../app/components/solrSort/solrSort.directive.scss';
@import '../app/views/details/details.view.scss';
@import '../app/views/home/home.view.scss';
@import '../app/views/main/main.view.scss';
@import '../app/views/mySchema/mySchema.view.scss';
@import '../app/views/results/results.view.scss';
// endinjector
