@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800');

//Variables to be used throughout all stylesheets
$darkest-blue:    #005170;
$dark-ocean:      #026399;
$medium-blue:     #007fb9;
$marine-blue:     #004666;
$ocean-blue:      #0073b2;
$light-ocean-blue:rgba(0, 115, 178, 0.1);
$teal:            #35969b;
$light-teal:      #68d0b2;
$teal-gradient:   #29819c;
$seafoam:         #58cba9;
$evergreen:       #062434;
$black:           #000000;
$white:           #ffffff;
$warm-grey:       #9b9b9b;
$shady-grey:      #676767;
$whisper-grey:    rgba(255, 255, 255, 0.2);
$gray-grey:       rgba(214, 214, 214, 0.3);
$light-grey:       #f3f3f3;
$silver:          #d1d2d4;
$body-text-color: #6B6B6B;
$mont-extra-bold: 800;
$mont-bold:       700;
$mont-regular:    400;
$mont-semi-bold:  600;
$desktop-md-max-width: 992px;

//Mixins
@mixin flex-and-align-center {
  display: flex;
  align-items: center;
}
@mixin desktop {
  @media only screen and (max-width: $desktop-md-max-width) {
    @content;
  }
}
@mixin niem-button {
  background-color: $white;
  border: none;
  border-radius: 4px;
  color: $ocean-blue;
  font-size: 14px;
  letter-spacing: 0.9px;
  padding: 12px 10px;
  text-transform: uppercase;
  vertical-align: middle;
  white-space: nowrap;
  &:hover {
    background-color: $light-grey;
  }
}
@mixin niem-button-bordered {
  @include niem-button;
  border: $ocean-blue solid 1px;
}
@mixin niem-button-filled($background-color, $color, $hover-background-color) {
  @include niem-button;
  background-color: $background-color;
  color: $color;
  &:hover {
    background-color: $hover-background-color;
  }
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
html, body {
  height: 100%;
}
body {
  font: $mont-regular 14px 'Montserrat', Arial, sans-serif;
  color: $body-text-color !important;
  .ng-scope {
    height: 100%;
  }
}

h1 {
  font: $mont-regular 27px 'Montserrat', Arial, sans-serif;
}

h2 {
  font: $mont-regular 21px 'Montserrat', Arial, sans-serif;
  letter-spacing: 3px;
}

h3 {
  font: $mont-regular 18px 'Montserrat', Arial, sans-serif;
  letter-spacing: 2.6px;
}

h4 {
  font: $mont-regular 16px 'Montserrat', Arial, sans-serif;
}

h5 {
  font: $mont-regular 14px 'Montserrat', Arial, sans-serif;
  letter-spacing: 0.9px;
}


h6 {
  font: $mont-regular 12px 'Montserrat', Arial, sans-serif;
  letter-spacing: 2px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;


  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  width: 100%;
  background-color: $white;
  padding: 0;
  .footer-bottom {
    padding: 10px 20px;
  }
}


// injector
@import '../app/components/niemChildAccordion/niemChildAccordion.directive.scss';
@import '../app/components/niemExport/niemExport.directive.scss';
@import '../app/components/niemFooter/niemFooter.directive.scss';
@import '../app/components/niemHeader/niemHeader.directive.scss';
@import '../app/components/searchHeader/searchHeader.scss';
@import '../app/components/solrDetails/solrDetails.directive.scss';
@import '../app/components/solrFacet/solrFacet.directive.scss';
@import '../app/components/solrFacetResult/solrFacetResult.directive.scss';
@import '../app/components/solrResults/solrResults.directive.scss';
@import '../app/components/solrResultsPagination/solrResultsPagination.directive.scss';
@import '../app/components/solrSearchInput/solrSearchInput.directive.scss';
@import '../app/components/solrSort/solrSort.directive.scss';
@import '../app/components/subsetAddRemoveFromSubsetButton/subsetAddRemoveFromSubsetButton.directive.scss';
@import '../app/components/subsetMySubsetButton/subsetMySubsetButton.directive.scss';
@import '../app/components/subsetMySubsetDetails/subsetMySubsetDetails.directive.scss';
@import '../app/components/subsetRemoveFromSubsetButton/subsetRemoveFromSubsetButton.directive.scss';
@import '../app/views/home/home.view.scss';
// endinjector
