.details .content .details-info .details-info-col {
  width: 60%;
  margin: 10px auto;
  display: block;
}

.details .content .details-info .details-info-col .details-info-content {
  margin: 0 !important;
}