<div class="solr-my-schema-details">
  <section class="container">
    <div class="my-schema-heading">
      <h1>My Schema</h1>
    </div>
    <div class="empty-my-schema" ng-if="!mySchemaIDs">
      <h2>Your cart is currently empty</h2>
    </div>
    <div class="my-schema-actions" ng-if="mySchemaIDs">
      <h2 class="my-schema-count">Total ({{mySchemaArray.length}} items)</h2>
      <button ng-click="removeSchema()" class="remove-from-schema-button">Remove All</button>
      <button ng-click="downloadSchema()" class="download-schema-button">Download All</button>
    </div>
    
    <div class="schema-item" ng-repeat="entity in mySchemaArray">
      <div class="schema-content-wrapper row">
        <div class="col-sm-8">
          <h3 class="item-title">{{entity.name}}
            <span class="item-type">({{entity.type.id ? entity.type.id : 'abstract'}})</span>
          </h3>
          <p class="item-description">{{entity.definition}}</p>
          <div class="item-namespace text-uppercase">{{formatNamespaceType(entity.namespaceType)}}: {{entity.namespace}}</div>
        </div>
        <div class="col-sm-4">
          <schema-remove-from-schema-button></schema-remove-from-schema-button>
        </div>
        
        <div class="col-sm-12">
          <uib-accordion close-others="false" ng-click="expandTree(entity)">
            <div uib-accordion-group>
              <div uib-accordion-heading>
                <p class="accordion-heading-text">{{entity.name}} comes with other elements - <span class="toggle-button">{{entity.expanded ? 'Hide Details' : 'Show Details'}}</span></p>
              </div>
              <div ng-repeat="item in entity.type.elements">
                <div class="niem-accordion-item" ng-if="!item.type.elements">
                  <a class="item-name" ui-sref="main.details({ entityID: item.id })">{{item.name}}</a>
                  <span class="item-type">({{item.type.name ? item.type.name : 'abstract'}})</span>
                </div>
                <div ng-if="item.type.elements">
                  <niem-child-accordion element-data="item"></niem-child-accordion>
                </div>
              </div>
            </div>
          </uib-accordion>
        </div>
      </div>        
    </div>
  </section>
</div>
