<div class="solr-my-schema-details" tabindex="-1" id="main" role="main" aria-label="My Schema Builder">
  <section class="container">
    <div class="my-schema-disclaimer-text">
      Final downloadable JSON schema format is still in progress and subject to change. For any feedback or improvements, please <a href="https://www.niem.gov/contact-us" target="_blank" rel="noopener noreferrer">contact us</a>.
    </div>
    <div class="my-schema-heading">
      <h1>My Schema Builder</h1>
    </div>
    <div class="empty-my-schema" ng-if="!mySchemaIDs.length">
      <h2>You have not yet chosen items for your schema.</h2>
      <p>Enter a keyword in the search bar above to explore the model and begin creating your schema.</p>
    </div>
    <div class="my-schema-actions" ng-if="mySchemaIDs.length">
      <h2 class="my-schema-count">Total ({{mySchemaArray.length}} items)</h2>
      <button ng-click="removeSchema()" class="remove-all-button" aria-label="Remove All" title="Remove All">Remove All</button>
      <button ng-click="downloadSchema()" class="download-schema-button" aria-label="Download JSON Schema" title="Download JSON Schema">Download JSON Schema</button>
    </div>
    <div class="schema-item" ng-repeat="entity in mySchemaArray">
      <div class="schema-content-wrapper">
        <div class="col-sm-8">
          <h3 class="item-title">
            <a class="item-title" ui-sref="main.details({ entityID: entity.id })" aria-label="{{entity.name}}" title="{{entity.name}}">{{entity.name}}</a>
            <span class="item-type">({{entity.type.id ? entity.type.id : 'abstract'}})</span>
          </h3>
          <p class="item-description">{{entity.definition}}</p>
          <div class="item-namespace text-uppercase">{{formatNamespaceType(entity.namespaceType)}}: {{entity.namespace}}</div>
        </div>
        <div class="col-sm-4 text-right">
          <schema-remove-from-schema-button entity-id="entity.id" ng-click="removeFromSchema(entity.id)"></schema-remove-from-schema-button>
        </div>

        <div class="col-sm-12" ng-if="entity.type.elements">
          <uib-accordion close-others="false" ng-click="expandTree(entity)">
            <div uib-accordion-group>
              <div uib-accordion-heading>
                {{entity.name}} comes with other elements - <span class="toggle-button">{{entity.expanded ? 'Hide Details' : 'Show Details'}}</span>
              </div>
              <div class="niem-accordion-item-wrapper" ng-repeat="item in entity.type.elements" ng-if="entity.dataFound">
                <div class="niem-accordion-item" ng-if="!item.type.elements">
                  <a class="item-name" ui-sref="main.details({ entityID: item.id })">{{item.name}}</a>
                  <span class="item-type">({{item.type.name ? item.type.name : 'abstract'}})</span>
                </div>
                <div ng-if="item.type.elements">
                  <niem-child-accordion element-data="item"></niem-child-accordion>
                </div>
              </div>
            </div>
          </uib-accordion>
        </div>
      </div>
    </div>
  </section>
</div>
