.search-header {
  height: 200px;
  background: url(../../images/mainbg.svg);
  background-size: cover;
  .header-search {
    padding: 23px 30px 20px 30px;
    min-width: $niem-min-width;
    margin: 0 auto;
  }
}
