.search-header {
  background: url(./../images/mainbg.svg);
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 30px 30px 20px;

  .header-container {
    width: 100%;
    margin-bottom: 20px;
  }

  .header-search {
    .form-control {
      width: 436px;
    }
  }
}
