<div class="solr-search form-horizontal">
  <div class="form-group row">
    <form ng-submit="search()" class="form-inline">
      <div class="btn-group" uib-dropdown is-open="status.isopen" ng-show="!hasLabel">
        <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
          {{selectedDomain}} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
          <li role="menuitem"><a href="#" ng-click="domainSelect('All Domains')">All Domains</a></li>
          <li role="menuitem"><a href="#" ng-click="domainSelect('Biometrics')">Biometrics</a></li>
          <li role="menuitem"><a href="#" ng-click="domainSelect('Chemical, Biological, Radiological, Nuclear')">Chemical, Biological, Radiological, Nuclear</a></li>
          <li role="menuitem"><a href="#" ng-click="domainSelect('Justice')">Justice</a></li>
        </ul>
      </div>
      <label for="solr-search-input" ng-show="!!hasLabel && hasLabel">Search Model</label>
      <div class="input-group search-group">
        <input type="text" id="solr-search-input" class="form-control" aria-label="Enter keyword" ng-model="searchQuery"
               autocomplete="off" uib-typeahead="result.name for result in getTypeaheadResults($viewValue)"
               typeahead-min-length="3" typeahead-on-select="search($item)">
        <div class="input-group-btn">
          <button type="submit" class="search-btn btn" aria-label="Search">
            <img src="images/icon_search.svg" aria-hidden="true">
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
