.solr-search {
  display: inline-block;
  .form-group {
    margin: 0;
    .form-inline .input-group .form-control {
      width: 432px;
      height: 41px;
    }
  }

  .dropdown-group {
    display: inline-block;
    vertical-align: top;
    .white-button {
      background-color: $white;
      color: $marine-blue;
      padding: 6px 12px 6px 12px;
      border: none;
      border-radius: 4px;
      width: 200px;
      height: 39px;
      text-align: left;
      a, a:active, a:hover, a:visited {
        color: $white;
        font-size: 14px;
        letter-spacing: 0.9px;
        text-decoration: none;
      }
      .dropdown-text {
        width: 150px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        float: left;
      }
      .dropdown-caret {
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        float: right;
      }
    }
  }

  .dropdown-menu {
    li {
      a {
        color: $marine-blue;
        &:hover, &:focus {
          background-color: lighten($warm-grey, 30%);
          text-decoration: none;
        }
      }
    }
  }

  label {
    color: $white;
    font-size: 18px;
    font-weight: $mont-regular;
    padding-right: 10px;
    letter-spacing: 2.6px;
  }

  .search-group {
    width: 432px;
    .third-child {
      #solr-search-input {
        color: $marine-blue;
        height: 39px;
        border: none;
        + ul {
          border-radius: 0;
          width: 361px;
          border-top: none;
          margin: 0;
          .active > a,
          .active > a:hover,
          .active > a:focus {
            background-color: lighten($warm-grey, 30%);
          }
          a {
            color: $marine-blue;
            padding: 3px 10px;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          li:first-child,
          li:nth-child(2),
          li:nth-child(3) {
            a {
              color: $ocean-blue;
              strong {
                font-weight: normal;
                color: $marine-blue;
              }
            }
          }
          li:nth-child(3) {
            border-bottom: 1px solid #d1d2d4;
            padding-bottom: 11px;
            a {
              padding-left: 0;
              strong {
                margin: 0 0 0 10px;
              }
            }
          }
        }
      }
    }
    
    .first-child {
      #solr-search-input {
        color: $marine-blue;
        height: 39px;
        border: none;
        + ul {
          border-radius: 0;
          width: 361px;
          border-top: none;
          margin: 0;
          .active > a,
          .active > a:hover,
          .active > a:focus {
            background-color: lighten($warm-grey, 30%);
          }
          a {
            color: $marine-blue;
            padding: 3px 10px;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          li:first-child {
            a {
              color: $ocean-blue;
              strong {
                font-weight: normal;
                color: $marine-blue;
              }
            }
          }
          li:first-child {
            border-bottom: 1px solid #d1d2d4;
            padding-bottom: 11px;
            a {
              padding-left: 0;
              strong {
                margin: 0 0 0 10px;
              }
            }
          }
        }
      }
    }
  }

  .search-btn {
    background-color: $medium-blue;
    color: $white;
    padding: 7.5px 8.5px 7.5px 8px;
    border: none;
    img {
      width: 22.5px;
      height: 23.85px;
    }
    &:hover {
      background-color: $dark-ocean;
    }
  }

}
