.popover.right {
  height: inherit;
  max-height: 110px;
  width: 225px;
  background-color: $silver;
  border: none;
}

.popover.bottom {
  height: inherit;
  background-color: $silver;
  border: none;
}

.popover.top {
  height: inherit;
  background-color: $silver;
  border: none;
}

.popover-inner .popover-content,
.popover-content {
  background-color: $silver;
  color: $marine-blue;
  font-size: 11px;
  font-family: "Montserrat", Arial, sans-serif;
  line-height: 1.45;
  letter-spacing: 1px;
  font-weight: normal;
}

.popover.right > .arrow {
  border-right-color: $silver;
  left: -10px;
  &:after {
    border-right-color: $silver;
  }
}

.popover.bottom > .arrow {
  border-bottom-color: $silver;
  top: -10px;
  &:after {
    border-bottom-color: $silver;
  }
}

.popover.top > .arrow,
.popover.top > .arrow:after {
  border-top-color: $silver;
}

.tooltip-exit {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 14px;
  color: $ocean-blue;
}
