<div>
  <h3 class="filter-group">
  <span ng-click="closeOtherPopovers(display)" class="dotted-underline" popover-enable="display != 'Others'" uib-popover-template="popoverTemplateUrl" popover-placement="right" popover-is-open="popovers[display].popoverIsOpen">

  {{display}}
    </span>
</h3>
</div>
<ul class="list-unstyled">
  <li ng-repeat="key in keys(results) | orderBy:sortByName">
    <solr-facet-result field="{{field}}" key="{{key}}" count="{{results[key]}}"></solr-facet-result>
  </li>
</ul>
