<header class="niem-header header">
  <div class="invisible-element">
    <a href="" ng-click="skipToContent('main')" tabindex="100">Skip to main content</a>
  </div>
  <div class="header-top">
    <a href="#" class="header-link-left" tabindex="103">
      <img class="header-top-img" src="images/niemblue.svg" alt="NIEM Logo">
    </a>
    <div class="header-link-right pull-right">
      <div class="header-inline-block">
        <p class="align-self-end header-disclaimer-text">Beta Version - Subject to Change</p>
        <div class="align-self-end header-link-text">
          <a href="https://www.niem.gov" target="_blank" tabindex="105" rel="noopener noreferrer"> NIEM.gov </a> |
          <a href="https://niem.gov/Pages/contact.aspx" target="_blank" tabindex="110" rel="noopener noreferrer">Contact Us</a>
        </div>
      </div>
    </div>
  </div>
</header>
