<header class="niem-header header">
  <div class="header-top">
    <a href="#" class="header-link-left" tabindex="100">
      <img class="header-top-img" src="images/niemblue.svg" alt="NIEM Logo">
    </a>
    <div class="header-link-right pull-right">
      <div class="header-inline-block">
        <p class="align-self-end">Not for Official Use - In Development</p>
        <div class="align-self-end">
          <a href="http://www.niem.gov" target="_blank" tabindex="105" rel="noopener noreferrer"> NIEM.gov </a> |
          <a href="http://niem.gov/Pages/contact.aspx" target="_blank" tabindex="110" rel="noopener noreferrer">Contact Us</a>
        </div>
      </div>
    </div>
  </div>
  <div class="header-my-schema pull-right">
    <schema-my-schema-button></schema-my-schema-button>
    <div class="schema-count" ng-if="schemaCount>0">{{schemaCount}}</div>
  </div>
</header>
