<div class="facet-details">
  <details-pagination data="data" num-per-page="20" show-action="showData" current-page="currentPage"></details-pagination>
  <h5 class="facet-heading text-uppercase">
    <span uib-popover-template="popoverTemplateUrl" popover-placement="top" popover-is-open="popoverIsOpen">
      Facet Name,
    </span>
    Value, and Description
  </h5>
  <ul class="facet-list">
    <div ng-repeat="facet in data">
      <li class="facet-item row" ng-repeat="value in facet.data.facetValue track by $index" ng-if="$index >= minIdx && $index <= maxIdx">
        <div class="facet-item-text">
          <div class="col-sm-3 text-capitalize">{{facet.name}}</div>
          <div class="col-sm-2">"{{value.trim()}}"</div>
          <div class="col-sm-7">{{facet.data.facetDefinition[$index]}}</div>
        </div>
      </li>
    </div>
  </ul>
  <details-pagination data="data" num-per-page="20" show-action="showData" current-page="currentPage"></details-pagination>
</div>
