.facet-details {
  .facet-heading {
    border-bottom: 1px solid $body-text-color;
  }
  .facet-list {
    .facet-item {
      list-style: none;
      border-bottom: 1px solid $body-text-color;
      padding: 20px;
    }
  }
}
