.results {
  .content {
    .search-heading {
      padding: 0 20px;
      background-image: linear-gradient(to left, $teal-gradient, $marine-blue);
      color: $white;
      margin: 0 29px 0 30px;
      letter-spacing: 0.5px;
      height: 80px;
      .keyword-search-text {
        font-size: 27px;
        margin: 13px 0 5px 0;
      }
      .results-total {
        font-size: 14px;
        color: $seafoam;
        margin-bottom: 11px;
        text-transform: uppercase;
      }
    }

    .legend {
      margin: 0 30px 0 0;
      .legend-heading {
        padding-right: 7px;
        display: inline-block;
        color: $marine-blue;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
      .legend-symbols {
        display: inline-block;
        color: $ocean-blue;
        .legend-symbol {
          display: inline-block;
          .legend-img {
            width: 12px;
            opacity: 0.3;
            display: inline-block;
          }
          .legend-title {
            margin-left: 6.1px;
            display: inline-block;
            text-transform: uppercase;
            text-decoration: underline;
            font-size: 12px;
            letter-spacing: 0.5px;
            color: $ocean-blue;
            &.type-legend {
              padding-right: 15px;
            }
          }
        }
      }
    }

    .search-heading {
      padding: 0 20px;
      background-image: linear-gradient(to left, $teal-gradient, $marine-blue);
      color: $white;
    }

    background-color: $white;
    position: relative;
    min-width: $niem-min-width;
    max-width: $niem-max-width;
    height: calc(100% - 373px);
    margin: 0 auto;

    h2 {
      color: $black;
    }

    .search-filter {
      background: $white;
      padding-left: 32px;
      .filter-heading {
        display: inline-block;
        margin: 0;
        width: 100%;
        padding: 30px 0 10px;
        border-bottom: 1px solid $teal;
        h2 {
          display: inline-block;
          margin: 0;
          color: $evergreen;
          letter-spacing: 0.6px;
        }
        .clear-button {
          border: none;
          background: transparent;
          color: $ocean-blue;
          padding-top: 8px;
          letter-spacing: 0.5px;
          font-size: 14px;
        }
      }
      .filter-details {
        padding-left: 15px;
        color: $body-text-color;
        .solr-facet-group-tooltip, .filter-group {
          font-size: 18px;
          letter-spacing: 0.5px;
          color: $marine-blue;
          margin-top: 18px;
          .dotted-underline {
            border-bottom: 1px dotted;
          }
        }
        .solr-facet-subgroup-tooltip {
          .filter-group {
            font-size: 14px;
            letter-spacing: 0.5px;
            color: $seafoam;
            text-transform: uppercase;
            margin-top: 11px;
            .dotted-underline {
              border-bottom: 1px dotted;
            }
          }
        }
      }

    }
    .search-results {
      padding: 0 43px;
      .results-list {
        .result {
          .result-item {
            border-bottom: 1px solid $silver;
            .result-heading {
              padding: 38px 0 18px 0;
              border-bottom: 1px solid $silver;
              margin: 0;
              color: $evergreen;
              letter-spacing: 0.5px;
              &:first-child {
                padding-top: 28px;
              }
            }
            .result-content {
              display: inline-block;
              padding: 0 30px;
            }
            .item-img-section {
              display: inline-block;
              padding: 0 5px;
              .item-img {
                width: 12px;
                opacity: 0.3;
              }
            }
            .item-title {
              color: $ocean-blue;
              display: inline-block;
              margin: 21px 0 11px 0;
              letter-spacing: 0.5px;
              &:hover {
                text-decoration: underline;
              }
            }
            .item-description {
              color: $body-text-color;
              margin-bottom: 16px;
              letter-spacing: 0.5px;
            }
            &:last-child {
              border-bottom: none;
              padding-bottom: 71px;
            }
          }
        }
      }
    }
  }
}
