.results {
  .header {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: $teal;

    .header-top {
      padding-bottom: 10px;
      border-bottom: 1px solid $white;
      .header-top-img {
        width: 100px;
      }
      .header-top-link {
        color: $white;
        text-decoration: none;
      }
    }
    .header-search {
      padding-top: 10px;
      padding-left: 15px;
      width: 40%;
    }
    .niem-navbar.navbar.navbar-default {
      margin: 0;
    }
    .collapse.navbar-collapse {
      padding: 0;
    }
    .navbar-default .navbar-nav > .active > a {
      background-color: $darkest-blue;
      color: $white;
    }
    .navbar-default .navbar-nav a {
      padding-left: 60px;
      padding-right: 60px;
      border-right: 1px solid #777;
    }
  }
  .content {
    background-color: $white;

    .search-heading {
      padding: 20px;
      margin: 0 20px 20px;
      background: $light-teal;
      .search-string {
        font-style: italic;
      }
    }

    .search-filter {
      background: $white;
      padding-left: 50px;
      border-right: 1px solid $body-text-color;
      .filter-heading {
        display: inline-block;
        margin: 0;
      }
      .clear-button {
        border: none;
        background: transparent;
        color: $medium-blue;
        font-weight: $mont-semi-bold;
      }
    }
    .search-results {
      padding: 0 50px;
      .legend {
        .legend-heading {
          padding-right: 10px;
          border-right: 1px solid $body-text-color;
          display: inline-block;
        }
        .legend-symbols {
          padding-left: 10px;
          display: inline-block;
          .legend-symbol {
            display: inline-block;
            .legend-img, .legend-title {
              display: inline-block;
            }
            .legend-img {
              width: 20px;
            }
          }
        }
      }

      .results-list {
        .result-heading {
          padding-bottom: 5px;
          border-bottom: 2px solid $body-text-color;
        }
        .result {
          padding-top: 30px;
          .result-item {
            border-bottom: 1px solid $body-text-color;
            .item-img-section {
              display: inline-block;
              padding: 0 30px;
              .item-img {
                width: 20px;
              }

            }
            .item-title {
              color: $medium-blue;
              font-weight: $mont-semi-bold;
            }
            .item-description {
              padding-left: 70px;
            }
          }
        }
      }
    }
  }
}
