<div class="solr-details" tabindex="-1" id="main" role="main" aria-label="Details">
  <section class="container">
    <a tabindex="0" ng-click="goBack()" ng-keypress="goBack()" class="back-link" ng-if="lastSearch">&#060; Back to search results for "{{lastSearch.q}}"</a>
    <div class="details-heading">
      <div>
        <h1>{{entity.name}}</h1>
        <div class="namespace text-uppercase">{{formattedNamespaceType}}: {{entity.namespace}}</div>
      </div>
      <subset-add-remove-from-subset-button entity-id="entityID" ng-if="!entity.isParent || !entity.type"></subset-add-remove-from-subset-button>
    </div>

    <div class="details-info row">
      <div class="details-info-content col-xs-6" ng-if="entity.definition">
        <div class="symbol-div definition-img">
          <img src="images/ic_definition.svg" alt="Definition symbol">
        </div>
        <div class="details-text">
          <h2>Definition</h2>
          <p>{{entity.definition}}</p>
        </div>
      </div>
      <div class="details-info-content col-xs-6" ng-if="entity.type">
        <div class="symbol-div">
          <img src="images/ic-typeofproperty.svg" alt="Type of Property symbol">
        </div>
        <div class="details-text">
          <h2>Type of Property</h2>
          <p>{{entity.type.name}}</p>
        </div>
      </div>
    </div>

    <div class="niem-accordion-heading">
      <h2 class="contain-title">{{entity.name}}
        <span class="contain-type">({{entity.type.id ? entity.type.id : 'abstract'}})</span>
        <span class="contain-subgroup" ng-if="entity.subGroups.length">This term has synonym entries</span>
      </h2>
    </div>
    <div ng-if="!entity.type.elements && !entity.subGroups.length" class="has-none">
      <h3>{{entity.name}} does not contain any child elements.</h3>
    </div>

    <div ng-repeat="subGroupElement in entity.subGroups" class="niem-accordion-item">
      <div class="niem-accordion-item-flat" ng-if="!subGroupElement.type.elements && !subGroupElement.subGroups.length">
        <div>
          <a class="item-name" ui-sref="main.details({ entityID: subGroupElement.id })">{{subGroupElement.name}}</a>
          <span class="subGroupElement-type">({{subGroupElement.type.name ? subGroupElement.type.name : 'abstract'}})</span>
        </div>
        <subset-add-remove-from-subset-button entity-id="subGroupElement.id"></subset-add-remove-from-subset-button>
      </div>
      <div ng-if="subGroupElement.type.elements">
        <niem-child-accordion element-data="subGroupElement"></niem-child-accordion>
      </div>
      <div ng-if="subGroupElement.subGroups.length">
        <niem-child-accordion element-data="subGroupElement"></niem-child-accordion>
      </div>
    </div>

    <div ng-repeat="item in entity.type.elements" class="niem-accordion-item">
      <div class="niem-accordion-item-flat" ng-if="!item.type.elements && !item.subGroups.length">
        <div>
          <a class="item-name" ui-sref="main.details({ entityID: item.id })">{{item.name}}</a>
          <span class="item-type">({{item.type.name ? item.type.name : 'abstract'}})</span>
        </div>
        <subset-add-remove-from-subset-button entity-id="item.id"></subset-add-remove-from-subset-button>
      </div>
      <div ng-if="item.type.elements">
        <niem-child-accordion element-data="item"></niem-child-accordion>
      </div>
      <div ng-if="item.subGroups.length">
        <niem-child-accordion element-data="item"></niem-child-accordion>
      </div>
    </div>
  </section>
</div>
