.solr-search {
  display: inline-block;
  .form-group {
      margin: 0;
  }
  label {
    color: $white;
    font-size: 18px;
    font-weight: $mont-regular;
    padding-right: 10px;
    letter-spacing: 2.6px;
  }
  .search-group {
    width: 432px;
    #solr-search-input {
      color: $marine-blue;
      height: 39px;
      //&:focus {
      //  border: none;
      //}
      +.dropdown-menu {
        border-radius: 0;
        width: 361px;
        border-top: none; //
        margin: 0; //
        a {
          color: $marine-blue;
        }
      }
    }
  }

  .search-btn {
    background-color: $medium-blue;
    color: $white;
    padding: 7.5px 8.5px 7.5px 8px;
    border: none;
    img {
      width: 22.5px;
    }
  }
}
