<div class="solr-search form-horizontal">
  <div class="form-group row">
    <form ng-submit="search()" class="form-inline">
      <label for="solr-search-input" ng-show="!!hasLabel && hasLabel">Search Model</label>
      <div class="input-group search-group">
        <input type="text" id="solr-search-input" class="form-control" aria-label="Enter keyword" ng-model="searchQuery"
               autocomplete="off" uib-typeahead="result.name for result in getTypeaheadResults($viewValue)"
               typeahead-min-length="3" typeahead-on-select="search($item)">
        <div class="input-group-btn">
          <button type="submit" class="search-btn btn" aria-label="Search">
            <img src="images/icon_search.svg" aria-hidden="true">
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
