.solr-search {
  display: inline-block;
  .form-group {
      margin: 0;
  }
  label {
    color: $white;
    font-size: 18px;
    font-weight: $mont-regular;
    padding-right: 10px;
    letter-spacing: 2.6px;
  }
  .search-group {
    width: 432px;
    #solr-search-input {
      color: $marine-blue;
      height: 39px;
      border: none;
      +.dropdown-menu {
        border-radius: 0;
        width: 361px;
        border-top: none;
        margin: 0;
        li:first-child,
        li:nth-child(2),
        li:nth-child(3) {
          a {
            color: $ocean-blue;
            strong {
              font-weight: normal;
              color: $marine-blue;
            }
          }
        }
        li:nth-child(3) {
          border-bottom: 1px solid #d1d2d4;
          padding-bottom: 11px;
          a {
            padding-left: 0;
            strong {
              margin: 0 0 0 10px;
            }
          }
        }
        .active > a,
        .active > a:hover,
        .active > a:focus {
          background-color: lighten($warm-grey, 30%);
        }
        a {
          color: $marine-blue;
          padding: 3px 10px;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }

  .search-btn {
    background-color: $medium-blue;
    color: $white;
    padding: 7.5px 8.5px 7.5px 8px;
    border: none;
    img {
      width: 22.5px;
      height: 23.85px;
    }

    &:hover {
      background-color: $dark-ocean;
    }
  }
}
