.niem-export {
  background: $darkest-blue;
  height: 190px;
  color: $white;
  width: 100%;

  .export-top {
    width: $niem-min-width;
    height: 100%;
    margin: 0 auto;
    padding: 44px 20px;
    .export-top-img {
      display: inline-block;
      img {
        width: 66px;
        display: inline-block;
        margin-right: 33px;
        position: relative;
        bottom: 44px;
      }

    }
    .export-top-text {
       display: inline-block;
       padding-left: 29px;
       border-left: 1px solid $white;
      .export-heading {
        margin-top: 0;
        margin-bottom: 6px;
        letter-spacing: 1.5px;
      }
      .export-description {
        margin-top: 0;
        margin-bottom: 17px;
        letter-spacing: 1px;
      }
      .download {
        color: $white;
        text-decoration: none;
        text-transform: uppercase;
        &:hover {
          text-decoration: underline;
        }
        .download-img {
          margin-left: 5px;
          height: 12px;
          width: 10px;
        }
      }
    }
  }
}
