.niem-export {
  background: #35969b;
  height: 30%;
  color: $white;
  width: 100%;
  .export-top {
    width: 50%;
    margin: 0 auto;
    .export-img {
      width: 50px;
      opacity: 0.3;
      display: inline-block;
      margin: 0 15px 40px;
    }
    .export-top-text {
       display: inline-block;
      .export-heading, .export-description {
        margin: 0;
        font-weight: $mont-regular;
      }
    }
  }
  .download {
    width: 50%;
    margin: 0 auto;
    padding: 0 85px;
    .download-link {
      color: $white;
      text-decoration: none;
      font-weight: $mont-semi-bold;
    }
  }
}
