<div class="niem-export">
  <div class="export-top">
    <div class="export-top-img">
      <img src="images/ic_export.svg">
    </div>
    <div class="export-top-text">
      <h2 class="export-heading">Would you like an export of all data instead?</h2>
      <p class="export-description">You may choose to download an Excel version of the model to view
        <br>at your own pace offline.</p>
      <a href="files/niem-3.2.xlsx" class="download">Download Current Model (Version 3.2)</a>
      <a href="files/niem-3.2.xlsx" class="download">
        <img src="images/icon_download.svg" alt="Download Current Model" class="download-img">
      </a>
    </div>
  </div>
</div>
