.niem-export {
  background: $darkest-blue;
  height: 180px;
  color: $white;
  width: 100%;
  .export-top {
    width: $niem-min-width;
    height: 100%;
    margin: 0 auto;
    padding: 35px 30px;
    @include flex-and-align-center;
    .export-top-img {
      img {
        width: 66px;
        height: 66px;
        margin-right: 33px;
      }
    }
    .export-top-text {
       display: inline-block;
       padding-left: 29px;
       border-left: 1px solid $white;
      .export-heading {
        margin-top: 0;
        margin-bottom: 6px;
        letter-spacing: 1.5px;
      }
      .export-description {
        margin-top: 0;
        margin-bottom: 17px;
        letter-spacing: 1px;
      }
      .download {
        color: $white;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 2px;
        &:hover {
          text-decoration: underline;
        }
        .download-img {
          margin-left: 5px;
          height: 12px;
          width: 10px;
        }
      }
    }
  }
}
