<div class="niem-export">
  <div class="export-top">
    <img class="export-img" src="images/icon_download-circle.svg">
    <div class="export-top-text">
      <h2 class="export-heading">Would you like an export of all data instead?</h2>
      <p class="export-description">You may choose to download an Excel version of the model
        <br>view at your own pace offline.
      </p>
    </div>
  </div>

  <div class="download">
    <a href="files/niem-3.2.xlsx" class="download-link">Download Current Model
      <i class="glyphicon glyphicon-download-alt"></i>
    </a>

    <p class="download-version">(Version 3.2)</p>
  </div>
</div>
