<footer class="niem-footer footer">
  <niem-export></niem-export>
  <div class="footer-bottom">
    <p>Contribute to our GitHub codebase</p>
    <a target="_blank" href="https://github.com/NIEM" rel="noopener noreferrer"
       class="light-blue-button text-uppercase" role="button">
      <img class="github-icon" src="images/ic_gethub.png" alt="Join the GitHub project"/>
      Join the Project
    </a>
  </div>
  <div class="footer-link-right pull-right">
    <a href="http://www.niem.gov" target="_blank" rel="noopener noreferrer"> NIEM.gov </a> |
    <a href="http://www.niem.gov/Pages/contact.aspx" target="_blank" rel="noopener noreferrer">Contact
    Us</a>
  </div>
</footer>
