<footer class="niem-footer footer">
  <niem-export></niem-export>
  <div class="footer-bottom">
    <p>Contribute to our GitHub codebase</p>
    <a target="_blank" href="https://github.com/NIEM/Movement" rel="noopener noreferrer" aria-label="Join the GitHub Project" title="Join the GitHub Project"
       class="github-button text-uppercase" role="button">
      <img class="github-icon" src="images/ic_gethub.png" alt="Join the GitHub Project"/>
      Join the Project
    </a>
  </div>
  <div class="footer-links">
    <div class="footer-link-left">
      <a href="https://niem.github.io/movement/" target="_blank" rel="noopener noreferrer">Learn more about Movement</a>
    </div>
    <div class="footer-link-right">
      <a href="https://www.niem.gov" target="_blank" rel="noopener noreferrer" aria-label="NIEM.gov" title="NIEM.gov"> NIEM.gov </a> |
      <a href="https://www.niem.gov/Pages/contact.aspx" target="_blank" rel="noopener noreferrer" aria-label="Contact Us" title="Contact Us">Contact
        Us</a>
    </div>
  </div>
</footer>
