.ccp-header {
  &.header {
    border: 0;
  }
  padding: 36px 30px 0 30px;
  background-color: transparent;
  min-width: $niem-min-width;
  margin: 0 auto;
  .header-top {
    padding-bottom: 30px;
    border-bottom: 1px solid $white;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    .header-link-left {
      display: inline-block;
      width: 215px;
    }
    .header-top-img {
      width: 100%;
    }
    .header-link-right {
      padding-top: 30px;
      letter-spacing: 2px;
      .header-inline-block {
          display: inline-block;
          color: $marine-blue;
          font-weight: 600;
        a {
          color: $marine-blue;
          font-weight: 600;
          text-transform: uppercase;
          text-decoration: none;
          &:first-of-type {
            padding-right: 10px;
          }
          &:nth-of-type(2) {
            padding-left: 10px;
          }
        }
      }
    }
  }

  .item-button {
    color: $marine-blue;
    font-size: 18px;
    letter-spacing: 2px;
    float: right;
    .dark-blue-button {
      background-color: $marine-blue;
      color: $white;
      padding: 7px;
      border: none;
      border-radius: 4px;
      vertical-align: middle;
      &:hover {
        background-color: $evergreen;
      }
      a, a:active, a:hover, a:visited {
        color: $white;
        font-size: 14px;
        letter-spacing: 0.9px;
        text-decoration: none;
      }
    }
  }
}
