.ccp-header {
  &.header {
    border: 0;
  }
  padding: 36px 30px 0 30px;
  background-color: transparent;
  min-width: $niem-min-width;
  margin: 0 auto;
  .header-top {
    padding-bottom: 30px;
    border-bottom: 1px solid $white;
    .header-top-img {
      width: 150px;
    }
    .header-link-right {
      color: $white;
      padding: 30px 0;
      letter-spacing: 2px;
      a {
        color: $white;
        text-transform: uppercase;
        text-decoration: none;
        &:first-of-type {
          padding-right: 10px;
        }
        &:nth-of-type(2) {
          padding-left: 10px;
        }
      }
      .header-inline-block {
        display: inline-block;
      }
    }
    .item-button {
      width: calc(30% - 5px);
      color: $marine-blue;
      font-size: 18px;
      letter-spacing: 2px;
      .light-blue-button {
        background-color: $ocean-blue;
        color: $white;
        padding: 10px;
        border: none;
        border-radius: 4px;
        vertical-align: middle;
        &:hover {
          background-color: $dark-ocean;
        }
        a, a:active, a:hover, a:visited {
          color: $white;
          font-size: 14px;
          letter-spacing: 0.9px;
          text-decoration: none;
        }
      }
    }
  }
}
