<header class="ccp-header header">
  <div class="header-top">
    <a href="#" class="header-link-left" tabindex="1">
      <img class="header-top-img" src="images/logo.svg" alt="CCP">
    </a>
    <div class="header-link-right pull-right">
      <div class="header-inline-block">
        <a href="http://www.niem.gov" target="_blank" tabindex="2"> NIEM.gov </a> | <a href="http://niem.gov/Pages/contact.aspx" target="_blank" tabindex="3">Contact Us</a>
      </div>
      <div class="header-inline-block item-button ">
        <button class="light-blue-button text-uppercase">
          <a>My Schema</a>
        </button>
      </div>
    </div>
  </div>
</header>
