<header class="ccp-header header">
  <div class="header-top">
    <a href="#" class="header-link-left" tabindex="1">
      <img class="header-top-img" src="images/niemblue.svg" alt="NIEM">
    </a>
    <div class="header-link-right pull-right">
      <div class="header-inline-block">
        <a href="http://www.niem.gov" target="_blank" tabindex="2" rel="noopener noreferrer"> NIEM.gov </a> | <a
        href="http://niem.gov/Pages/contact.aspx" target="_blank" tabindex="3" rel="noopener noreferrer">Contact Us</a>
      </div>
    </div>
  </div>
  <div class="header-my-schema pull-right">
    <schema-my-schema-button></schema-my-schema-button>
    <div class="schema-count" ng-if="schemaCount>0">{{schemaCount}}</div>
  </div>
</header>
