<header class="ccp-header header">
  <div class="header-top">
    <a href="#" class="header-link-left" tabindex="1">
      <img class="header-top-img" src="images/niemwhite.svg" alt="NIEM">
    </a>
    <div class="header-link-right pull-right">
      <div class="header-inline-block">
        <a href="http://www.niem.gov" target="_blank" tabindex="2"> NIEM.gov </a> | <a href="http://niem.gov/Pages/contact.aspx" target="_blank" tabindex="3">Contact Us</a>
      </div>
    </div>
  </div>
  <schema-my-schema-button></schema-my-schema-button>
</header>
