.ccp-footer {
  z-index: 2;
  display: inline-block;
  &.footer {
    min-width: $niem-min-width;
  }
  &.absolute-positioning {
    position: absolute;
    bottom: 0;
  }
  .footer-bottom {
    padding: 20px;
  }
}
