<footer class="ccp-footer footer">
  <niem-export></niem-export>
  <div class="footer-bottom">
    Contribute to our Git Hub codebase
    <button class="light-blue-button text-uppercase">
      <a target="_blank" href="https://github.com/NIEM">
      <img class="github-icon" src="images/ic_gethub.png" alt="Join the GitHub project" />
      Join the Project
      </a>
    </button>
  </div>
  <div class="footer-link-right pull-right">
    <a href="http://www.niem.gov" target="_blank" tabindex="2"> NIEM.gov </a> | <a href="http://niem.gov/Pages/contact.aspx" target="_blank" tabindex="3">Contact Us</a>
  </div>
</footer>
